root {
    --branding-color: #2a738a;
    --secondary-color: rgb(232,244,248);
    --heading-font-family: 'Raleway', sans-serif;
    --default-font-family:'Roboto Mono', monospace;
}



h1, h2, h3,h4,h5,h6{
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}


h1{
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 66px; 
    line-height: 1.5;
}
h2{
    font-size: 36px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height:30px;
}


.first{
margin-top: 180px;
}

.second{
    margin-top: 200px;
}

.size{
    font-size: 20px;
    margin-top: 30px;
}

.story{
    background-color: rgb(232,244,248);
    text-align: center;
    padding: 180px 40px;
   
}

.story p{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: #272142;
}

.story h2{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size:26px;
    line-height: 1.5;
}

.btn-branding {
    background: #2a738a;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline{
    color: #2a738a;
    border: 1px solid  #2a738a;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;

}

@media (max-width:900px) {
    .project-description{
        padding: 0;
        text-align: center;
    }
}
@media(max-width:900px) {
    h1{
        font-size: 40px;
        line-height: 2;
    }

    h2{
        font-size: 40px;
    }
}