
body{
    background-color: lightblue;
   
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400; 
}