root {
    --branding-color: #2a738a;
    --secondary-color: rgb(232,244,248);
    --heading-font-family: 'Raleway', sans-serif;
    --default-font-family:'Roboto Mono', monospace;
}



h1, h2, h3,h4,h5,h6{
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}


h1{
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px; 
    line-height: 1.5;
}
h2{
    font-size: 36px;
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height:30px;
}

.top{
margin-top:10px ;

}
.first{
margin-top: 180px;
}

.second{
    margin-top: 200px;
}

.size{
    font-size: 20px;
    margin-top: 30px;
}

.story{
    background-color: rgb(232,244,248);
    text-align: center;
    padding: 160px 20px;
}

.story p{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: #272142;
}

.story h2{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size:24px;
    line-height: 1.5;
}

.content-container{
    padding: 160px 20px;
}

.content h1{
font-size: 64px;
line-height: 80px;

}
.content h2{
    font-size: 18px;
    font-family:var(--default-font-family);

}
.content h3{
font-size: 24px;
font-family:var(--default-font-family);
line-height: 1.5;

}

.content p{
font-size: 14px;
}

.content {
    margin: 30px;
  }
  

.btn-branding {
    background: #2a738a;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline{
    color: #2a738a;
    border: 1px solid  #2a738a;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;

}

.project-desciption {
    padding: 120px 60px;}


@media(max-width:900px) {
    h1{
        font-size: 40px;
        line-height: 56px;
    }

    h2{
        font-size: 40px;
    }

  .story {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
